<div id="todos"><h1>Todos</h1>
  <div>
    <form id="new-todo">
      <input placeholder="What to do?" type="text" name="text">
    </form>
  </div>

  <div id="stats">
  </div>

  <div>
    <label class="done-label">
      <input class="mark-all-done" type="checkbox" data-bind="+todos#mark_all_done"> Mark All as Done
    </label>
  </div>

  <ul id="todo-list">
  </ul>
</div>